{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="grid__container">
<div id="mobile" class="container">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <div>
          <form method="POST" class="password_reset signup" id="resetForm">
            {% csrf_token %}
            {% for field in form %}
            <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required="" id="id_email" class="form-control">
    
            {% endfor %}
          
            <button class="Sign mt-4" type="submit" onclick="submitForm()"> {% trans 'Reset' %} </button>
        </form>
        </div>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
</div>

<script>

  function submitForm() {
        const form = document.getElementById("resetForm");
        const formData = new FormData(form);
        const formDataObj = Object.fromEntries(formData.entries());
        let data = {}
        if(formDataObj){
            data = JSON.stringify(formDataObj);
        }
        form.addEventListener("submit", function(event) {
            event.preventDefault()
            axios.post("{% url 'password_reset' %}", formData, {
          
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}'
                },
             
           
              })
              .then((response) => {
             
                function showSuccessMessage() {
                  Swal.fire({
                    icon: "success",
                    title:'Email sent',
                    text: 'Password reset email has been sent.',
                    confirmButtonColor: "#079a85", // Bootstrap success color
                    timer: 3000, // Auto-close the popup after 3000 milliseconds (3 seconds)
                    showCloseButton: true, // Show close button
                  });
                }
          
                showSuccessMessage()
              })
              .catch((error) => {
                console.log("Error ",error)
              })


        })
  }
      
</script>
{% endblock %}
