{% extends "_base.html" %}
{% load crispy_forms_tags %}
<!--  -->
{% load static %}
{% load i18n %}
{% block css %} 


<style>


  #stripe-card .fa-spinner {
    font-size: 2em; /* Adjust the size as needed */
  
  }

</style>

<link rel="stylesheet"  type="text/css" href="{% static 'styles.css' %}" />

{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


  <!-- Body -->
  {% include 'includes/Navbar.html' %}


 
  <div class="grid__container">
    <div id="mobile" class="container">
      <h3>Sign up to your LMS account</h3>



      <!-- <h3>Welcome back  <span> Username </span> </h3> -->
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}"signup_form>
        {% csrf_token %}
      
        
        {{form|crispy }}
        <div class="error-message" id="error-message"></div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div id="container" style="display: flex;justify-content:center">
         
        </div>
        <button type="submit" id="submit-button" class="submit-button">{% trans "Sign Up" %} &raquo;</button>
      </form>

   


      <div class="forgot-password">
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
    </div>
    <div class="image">
      <img src="{% static 'doters-removebg-preview.png' %}" alt="" />
    </div>
  </div>


  <!-- Second- Socail Meda -->
    <!-- Second- Socail Meda -->
    <div class="Socail-Container">
      <div></div>
      <div>
       {% include "socialaccount/snippets/provider_list.html" with process="login" %}
         
      </div>
    </div>
 


    <script>
      document.addEventListener("DOMContentLoaded",function() {
        const form = document.getElementById("signup_form")
        form.addEventListener("submit",function(event) {
          <!-- event.preventDefault() -->
          const submit_button  = document.getElementById("submit-button")
          const container = document.getElementById("container")
          form.removeChild(submit_button)
          console.log(container);
          container.innerHTML =   `
          <div id="stripe-card" class="form-control" style="font-size:4em; ">
            <span class="fa fa-spinner fa-spin"></span>
            <!-- a Stripe Element will be inserted here. -->
          </div>
          
          `
        })
      })
    </script>

  <!-- Scripts -->
  <script src="./script.js"></script>
  <script type="text/javascript" src="dropdown.js"></script>
 

{% endblock %}
