{% extends "_base.html" %}
{% load crispy_forms_tags %}
<!--  -->
{% load static %}
{% load i18n %}

{% load socialaccount %}


{% block style %}

<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>
<link rel="stylesheet"  type="text/css" href="{% static 'styles.css' %}" />

{% endblock %}



{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


  <!-- Body -->


 
  <div class="grid__container">
    <div id="mobile" class="container">
      <h3>Sign up</h3>



      <!-- <h3>Welcome back  <span> Username </span> </h3> -->
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" >
        {% csrf_token %}
      

         {% for field in form %}
         {% if field.name == 'first_name'%}
         <i class="bx bxs-user"></i>

         {% elif field.name == 'last_name'%}
         <i class="bx bxs-user"></i>

        
         {% elif field.name == 'email' %}
         <i class="bx bxs-envelope"></i>

        {% elif field.name == 'username'%}
         <i class="bx bxs-user"></i>

         {% else %}
         <i class="bx bxs-lock-alt"></i>
        

          {% endif %}
        
          {{field}}
          <small class="text-danger">
            {{field.errors}}
          </small>

         {%endfor %}
     

        <div id="container" style="display: flex;justify-content:center">
         
        </div>
        <button type="submit" id="submit-button" class="submit-button">{% trans "Sign Up" %} &raquo;</button>
      </form>


      <div class="forgot-password">
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
    </div>
    <div class="image">
      <img src="{% static 'doters-removebg-preview.png' %}" alt="" />
    </div>
  </div>


  <!-- Second- Socail Meda -->
    <!-- Second- Socail Meda -->
    <div class="Socail-Container">
      <div></div>
        {% include 'socialaccount/snippets/provider_list.html'%}
    </div>
 


    <script>
      document.addEventListener("DOMContentLoaded",function() {
        const form = document.getElementById("signup_form")
        form.addEventListener("submit",function(event) {
     
          const submit_button  = document.getElementById("submit-button")
          const container = document.getElementById("container")
          form.removeChild(submit_button)
          console.log(container);
          container.innerHTML =   `
          <div id="stripe-card" class="form-control" style="font-size:4em;">
            <span class="fa fa-spinner fa-spin"></span>
            <!-- a Stripe Element will be inserted here. -->
          </div>
          
          `
        })
      })
    </script>

{% endblock %}
