{% extends "_base.html" %}
{% load i18n%}
{% load static %}
{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}


{% block style%}
<link rel="stylesheet" href="{% static 'quiz-detail.css' %}" />
<link rel="stylesheet" href="{% static 'quiz-detial-main.css' %}" />


{% endblock %}
{% block content %}

<div id="exam-container">
	<h2>Student Examination</h2>
	<div id="question-container" class="question">	<p class="lead">{{ question.content }}</p></div>
	<div id="choices-container" class="choices">

		<div id="choices-container" class="choices">
			<form action="" method="POST">{% csrf_token %}
			  <input type=hidden name="question_id" value="{{ question.id }}">
			
			  <ul class="list-group">
			
				{% for answer in form.answers %}
				  <li class="list-group-item">
					{{ answer }}
				  </li>
				{% endfor %}
			
			  </ul>
			  <div id="progress-container">
				{{progress.1 }}
				Progress: <span id="current-question"> {{ progress.0|add:1 }} </span> / <span id="total-questions"> {{ progress.1 }}</span>
				<div id="progress-bar">
				  <div id="progress-bar-inner" style="width:{{progress.1|add:100}};"></div>
				</div>
			  </div>
			  <div style="margin-top:50px;"></div>
			  <input type="submit" value={% trans "Next" %} class="btn btn-large btn-block btn-warning" >
		  
			</form>
	
			</div>
			<hr>
	</div>
	

  </div>

  <br>
  <br>

{% endblock %}
