<div class="gallery-item camera">
  <div class="gallery-item-inner">
    <div class="card__new">
      <img src="{{course.image.url}}" alt="{{course.name}}" />
      <div class="container__new">
        <h4>{{course}}</h4>
        <p>
           {{course.detail}}
        </p>
        <h4 id="Birr">400 <span class="Birr_span">ETB</span></h4>
        <div class="Enroll__Container">
          <a href="#"><button class="First"><p>Enroll now</button></a>
          <a href=""><button class="Second"><p>View Courses</button></a>
        </div>
      </div>
    </div>
  </div>
</div>