<div class="gallery-item camera">
  <div class="gallery-item-inner">
    <div class="card__new">
      <img src="{{course.image.url}}" alt="{{course.name}}" />
      <div class="container__new">
        <h4>{{course.name}}</h4>
        <p>
           {{course.detail}}
        </p>
        <h4 id="Birr">400 <span class="Birr_span">ETB</span></h4>
        <div class="Enroll__Container">


            {% if request.user.is_authenticated %}
            {% if request.user not in course.students.all %}
                <form action="{% url "students:student_enroll_course" %}" method="post">
                {% csrf_token %}
                  {{ enroll_form }}
                  <input type="hidden" value="{{course.id}}" name="id" />
                  <input type="hidden" value="{{request.user.id}}" name="user" />
              
                  <input type="submit" value="Enroll now" class="First">
              </form>
            
            {% endif %}

            {% else %}
            <a href="{% url "account_login" %}">
            <button class="First">
            Login to enroll
          </button>
            </a>
          {% endif %}

          <a href="{% url 'courses:course_detail' course.slug %}"><button class="Second"><p>View Courses</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

