{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}My courses{% endblock %}
{% block content %}
<h1>My courses</h1>
<div class="module">
{% for course in object_list %}
    <div class="card" style="height: 100px;width: 500px; margin: 50px; display: flex;flex-direction: column; justify-content: center;align-items: center;">
  <div class="card-header">
   <h3>{{ course.title }}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">Card Text</p>
  </div>
  <div class="card-footer">
    <a  href="{% url "courses:course_edit"  course.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url "courses:course_delete" course.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url "courses:course_module_update" course.id %}">Edit modules</a>
      {% if course.modules.count > 0 %}
        <a href="{% url "courses:module_content_list" course.modules.first.id %}">
        Manage contents
        </a>
        {% endif %}
  </div>
</div>

{% empty %}
<p>You haven't created any courses yet.</p>
{% endfor %}
<p>
<a href="{% url "courses:course_create" %}" class="button">Create new course</a>
</p>
</div>
{% endblock %}

{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/
html5sortable.min.js"></script>
{% endblock %}

{% block domready %}
    var options = {
    method: 'POST',
    mode: 'same-origin'
    }
    const moduleOrderUrl = '{% url "courses:module_order" %}';
    sortable('#modules', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
    });
{% endblock %}