{% extends '_base.html'%}

{%block content%}



<table class="mt-12 w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Username</th>
        <th scope="col" class="px-6 py-3">Egilability</th>
        <th scope="col" class="px-6 py-3">Course</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
        {%for student in candidate_students %}
    
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{student.email}}</th>
            <td class="px-6 py-4">can take</td>
            <td class="px-6 py-4">Bio medical engineering</td>
            <td class="px-6 py-4">

               <form method="post">
               {% csrf_token %}
                 <input type="hidden" value="{{student.email}}" name="user" />
                 <input type="submit" value="Allow to quiz acess" />
               </form>

            </td>
            <td class="px-6 py-4">  <a href="{% url  'courses:egiliablity_view' student.id %}">  View detail </a></td>

      {% endfor %}
    </tbody>
  </table>
  



       
{%endblock content%}