{% extends "_base.html" %}
{% block title %}{% if subject %}{{ subject.title }} courses{% else %}All courses{% endif %}{% endblock %}


{% block content %}
        <h1>{% if subject %}{{ subject.title }} courses{% else %}All courses {% endif %}</h1>

        <div class="contents">
            <h3>Subjects</h3>
                <ul id="modules">

                <div class = "container flex justify-content: space-between align-items: center mt-8">

                <li {% if not subject %}class="selected"{% endif %}>

                <a href="{% url "course_list" %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-2xl px-5 py-2.5 text-center mr-2 mb-2">All</a>
                </li>

                        {% for s in subjects %}
                            <li {% if subject == s %}class="selected"{% endif %}>
                            <a href="{% url "courses:course_list_subject" s.slug %}" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                {{ s.title }}
                                <br>
                                <span>
                                {{ s.total_courses }} course{{ s.total_courses|pluralize }}
                                </span>
                            </a>
                            </li>
                        {% endfor %}
                </ul>
                
            </div>
        <div>



    <div>

        <div class="grid grid-cols-1 md:lg:xl:grid-cols-2 group bg-white shadow-xl shadow-neutral-100 border">
            {% for course in courses %}
             {% with subject=course.subject %}

             <div class="max-w-sm bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="{{course.image.url}}" alt="{{course.title}}" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Read more
                        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
            
              
           
            {% endwith %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}