{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style%}
  


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Course</title>

 
    <link rel="stylesheet" href="{% static 'student_list_main.css' %}" />
    <link rel="stylesheet" href="{% static 'student_list.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

 
    <style>
      .switch {
        position: relative;
        display: inline-block;
        width: 40px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
      }
      
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: gray; /* Change the color as needed */
        border-radius: 20px; /* Adjust the border radius to make it rounder */
        transition: 0.4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 16px; /* Adjust the height as needed */
        width: 16px; /* Adjust the width as needed */
        left: 2px;
        bottom: 2px;
        background-color: white; /* Change the color as needed */
        border-radius: 50%;
        transition: 0.4s;
      }
      
      input:checked + .slider {
        background-color: green; /* Change the color as needed */
      }
      
      input:checked + .slider:before {
        transform: translateX(20px); /* Adjust the position as needed */
      }
    
      .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
        url('https://i.stack.imgur.com/FhHRx.gif')
        50% 50%
        no-repeat;
    }
    body.loading {
        overflow: hidden;
    }
    body.loading .modal {
        display: block;
    }
    
    body {
      background-color: #e1e1e1;
    }



    * {
      font-family: "Kanit", sans-serif;
    }

    .popup-icons {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #079a85;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .popup-icons:hover {
      background-color: #079a85;
    }

    /* SweetAlert styles */
    .swal2-popup {
      font-size: 16px;
      position: absolute; /* Set position to absolute */
    }

    /* Custom Animation */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Additional SweetAlert styles */
    .swal2-icon-success {
      animation: fadeIn 0.5s ease;
    }

    .swal2-title {
      color: #079a85;
    }

    .swal2-confirm-popup-icons {
      background-color: #079a85;
      color: #fff;
      transition: background-color 0.3s ease;
    }

    .swal2-confirm-popup-icons:hover {
      background-color: #218838;
    }

    /* Custom close icon styles */
    .swal2-close {
      font-size: 20px;
      color: #079a85;
      animation: fadeIn 0.5s ease;
    }

    .swal2-close:hover {
      color: #079a85;
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>
 {% endblock %}

{% block content %}
    <!-- Modal -->
    
<!-- Trigger the modal with a button -->


<!-- Button trigger modal -->

<!-- Modal -->
<div style="z-index: 1000000;" class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Assiagment to course <big>{{course.name|title}}</big> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form id="as-form">
          {% csrf_token %}
          {{form|crispy}}
        </form>
  
      </div>
      <div class="modal-footer" >
        <button type="button" style="background-color:rgb(211, 138, 138);" class="btn btn-danger" id="closebtn" data-bs-dismiss="modal">Close</button>
        <div class="modal"><!-- Place at bottom of page --></div>
        <button type="submit" style="background-color:rgb(58, 76, 58);" class="btn btn-primary" onclick="addAssiagment()">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
    <!-- ===========================Main body================================= -->

    <div id="mainContainer" style="display: flex; justify-content:space-around;align-items:center;">

      <a href="{% url 'courses:course_create' %}">
        <button class="form-control btn btn-info" id="save-btns"  >
          <span>Back to couse </span>
        </button>
      </a>
      <div class="reminder">
        <p>This course has {{num_docs}} assignment .</p>
        <button type="button" class="btn btn-info" style="background-color: #079a85 !important;" data-bs-toggle="modal" data-bs-target="#mymodal">
          Add more
        </button>
        
     
      </div>

    </div>




    <h1>{{course.name|title}} Student List</h1>
    <div style="overflow-x: auto" id="table">
      <table>
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Assignments</th>
            <th>Student Enrollement</th>
            <th>Take Exam</th>
          </tr>
        </thead>
        <tbody id="table-body">
          
      
          {% for student in  course.students.all %}
          <tr>
            <td>{{student.id}}</td>
            <td>{{student.username}}</td>
            <ul>
              <td>
                {% for doc in student.student_document.all %}
                  <li>
                  <div style="display: flex; flex-direction:column;justify-content:space-between;"></div>
                    <a href="{{doc.file.url}}" target="_blank" rel="noopener noreferrer">{{doc}}</a>
                    <span onclick="deleteDoc({{doc.id}})" style="color:red;font-size:26px;">&times;</span>
                    <div class="modal"><!-- Place at bottom of page --></div>
                  </li>
                
                </div>
                  {% endfor %}

               
           
              </td>

            </ul>

            <td>

              {% if student in candidate_students %}
              <label class="switch">
                <input type="checkbox" name="" id="" checked="true">
              <span aria-label="Close modal"  class="slider"  id="span_{{student.id}}_remove" style="font-size:4em;" onclick="manageStudentEnrollement('{{student.id}}','{{course.id}}','remove')"></span>
              </label>
              {% else %}

              <label class="switch">
                <input type="checkbox"  value="">
                <span aria-label="Close modal" class="slider"  id="span_{{student.id}}_add" style="font-size:4em;" onclick="manageStudentEnrollement('{{student.id}}','{{course.id}}','add')"></span>
              </label>
              {% endif %}
            </td>
            <td class="accessRemittance">

 
              {% if student in allowed_students %}
              <label class="switch" >
                <input type="checkbox" name="" id="" checked="true" size="3">
              <span aria-label="Close modal"  class="slider"  id="span_{{student.id}}_remove" style="font-size:4em;" onclick="updateStudentAccess('{{student.id}}','{{course.id}}','remove')"></span>
              </label>
              {% else %}

              <label class="switch">
                <input type="checkbox"  value="">
                <span aria-label="Close modal" class="slider"  id="span_{{student.id}}_add" style="font-size:4em;" onclick="updateStudentAccess('{{student.id}}','{{course.id}}','add')"></span>
              </label>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      

        </tbody>
      </table>
    </div>

    <script>

      function addAssiagment() {
        $('body').addClass('loading')
        const form = document.getElementById("as-form");
        const formData = new FormData(form)
        const formDataObj = Object.fromEntries(formData.entries());
        let data = {}
        if(formDataObj){
            data = JSON.stringify(formDataObj);
        }

      
        axios.post("{% url 'ass_create'%}", formData, {
          
          headers: {
            'Content-Type': 'application/octet-stream',
            'X-CSRFToken': '{{ csrf_token }}'
          },
       
     
        })
        .then((response) => {
          let data = response.data
          $('body').removeClass('loading')
          $('#closebtn').click();
          showSuccessMessage("success","you added successfully","delete successfully",2000)
          form.reset()
        })
        .catch(((error) => {
          console.log("error ",error);
        }))

  
        }


      function deleteDoc(id) {

        const data = {
          id:id
        }
        //axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        //axios.defaults.xsrfCookieName = "csrftoken"; 
        $('body').addClass('loading')
        axios.post(`/delete_doc/${id}`,JSON.stringify(data),{
           headers: {
         // 'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        }})
          .then(async (response) => {
            if(response.data) {

              $(`#table`).load(`{% url 'courses:egiliablity' course.id %} #table`)
              $('body').removeClass('loading')
              showSuccessMessage("success","delete completed","delete successfully",2000)

            }

          })
          .catch((error) => {
            setInterval("$('body').removeClass('loading')", 4000);
            $(`#table`).load(`{% url 'courses:egiliablity' course.id %} #table`)
            showSuccessMessage("can't delete")

          })

      }
        

      function showSuccessMessage(icon,title,message,timer) {
        Swal.fire({
          icon: icon,
          title: title,
          text: message,
          confirmButtonColor: "#079a85", // Bootstrap success color
          timer: timer, // Auto-close the popup after 3000 milliseconds (3 seconds)
          showCloseButton: true, // Show close button
        });
      }

      function updateStudentAccess(studentId,course_id,action) {
          let data = {
            studentId:studentId,
            courseId:course_id,
            action:action

          }


          let allowed = true;

          $.ajax({
           
            url:"/eligibility_ajax/",
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
          
            data: JSON.stringify(data),
      
            success: function (response) {

              allowed = response.allowed
             
              //$(`#span_${studentId}_${action}`).load(`{% url 'courses:egiliablity' course.id %} #span_${studentId}_${action}`)
             // $(`#span_${studentId}_${action}`).text(allowed ? 'X' : '+');
              $(`#table`).load(`{% url 'courses:egiliablity' course.id %} #table`)
              

             
            },
          
           // <!-- error block begin here -->
            error: function (error) {
              // Handle any error that occurred during the AJAX request
              console.log("error ",error);
            }
          });
        }



        function manageStudentEnrollement(studentId,course_id,action) {
         
          let data = {
            studentId:studentId,
            courseId:course_id,
            action:action

          }


          let allowed = true;

          $.ajax({
           
            url:"/student_enrolloment/",
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
          
            data: JSON.stringify(data),
      
            success: function (response) {

              allowed = response.allowed
             
              //$(`#span_${studentId}_${action}`).load(`{% url 'courses:egiliablity' course.id %} #span_${studentId}_${action}`)
             // $(`#span_${studentId}_${action}`).text(allowed ? 'X' : '+');
            // $(`#table`).load(`{% url 'courses:egiliablity' course.id %} #table`)
              

             
            },
          
           // <!-- error block begin here -->
            error: function (error) {
              // Handle any error that occurred during the AJAX request
              console.log("error ",error);
            }
          });
        }
    
      </script>
      
    

 
 
    <script>
      // JavaScript to toggle the active class on hamburger click
      document.addEventListener("DOMContentLoaded", function () {
        var navbarHamburger = document.querySelector(".navbar-hamburger");
        var navbarMenu = document.querySelector(".navbar-menu");

        navbarHamburger.addEventListener("click", function () {
          navbarHamburger.classList.toggle("active");
          navbarMenu.classList.toggle("active");
        });

        document.addEventListener("click", function (event) {
          var targetElement = event.target;
          if (
            !targetElement.closest(".navbar") &&
            navbarHamburger.classList.contains("active")
          ) {
            navbarHamburger.classList.remove("active");
            navbarMenu.classList.remove("active");
          }
        });
      });
    </script>
    <!-- Catgory dropdown -->
    <script>
      const newdropdowns = document.querySelectorAll(".newdropdown");
      newdropdowns.forEach((newdropdown) => {
        const select = newdropdown.querySelector(".select");
        const caret = newdropdown.querySelector(".caret");
        const menu = newdropdown.querySelector(".menu");
        const options = newdropdown.querySelector(".menu li");
        const selected = newdropdown.querySelector(".selected");

        select.addEventListener("click", () => {
          select.classList.toggle("select-clicked");
          caret.classList.toggle("caret-rotate");
          menu.classList.toggle("menu-open");
        });
        options.forEach((option) => {
          option.addEventListener("click", () => {
            selected.innerText = option.innerText;
            select.classList.remove("select-clicked");
            caret.classList.remove("caret-rotate");
            menu.classList.remove("menu-open");
            options.forEach((option) => {
              option.classList.remove("active");
            });
            option.classList.add("active");
          });
        });
      });
    </script>

{% endblock content %}