/* Styles for the accordion */
#pdf-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  #pdf-list h1 {
    text-align: left;
    color: #079a85;
  }
  #pdf-list ul {
    list-style-type: none;
    padding: 0;
    width: 24rem;
  }
  .sub-accordion-content li{
    list-style: none;
    /* padding-top: 1rem; */
    padding: 1rem;
    color: #00215b;
  }
  
  .sub-accordion-content li a{
   
    color: #00215b;
  }
  #pdf-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
  }
  
  #pdf-list .pdf-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  #dynamic-list li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  #dynamic-list li a:hover {
    font-family: bold;
    color: #079a85;
  }
  .headerone {
    background-color: #079a85;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  * {
    scroll-behavior: smooth;
  }
  /* .dashboard-container {
    display: grid;
    grid-template-columns: 29% 40% 19%;
    margin-left: 2rem;
    gap: 5%;
  } */
  .dashboard-container {
    display: grid;
    grid-template-columns: 30% 62%;
    grid-template-rows: minmax(150px auto);
    margin-left: 2rem;
    gap: 5%;
  }
  /* .main__section {
    display: grid;
    grid-template-columns: 30% 62%;
    grid-template-rows: minmax(150px auto);
    margin-left: 2rem;
    gap: 5%;
  } */
  .course h2 {
    color: #00215b;
    font-family: "Kanit", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.5%;
  }
  .course-header {
    margin-top: -1rem;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.5%;
  }
  /* =========================discription stayle====================== */
  
  .attach {
    /* margin-top: -11rem; */
  }
  .discription {
    margin-top: -9rem;
  }
  /* =======================================video css===================================== */
  .course-overview {
    width: 100%;
    /* max-width: 600px; */
    margin: 20px 0;
  }
  
  .course-list {
    margin: 10px 0;
  }
  
  .course {
    border: 0px solid #ccc;
    margin-bottom: 10px;
    padding: 22px;
    margin-top: 0rem;
  }
  
  .video {
    max-width: 100%;
  }
  #button6 {
    display: none;
  }
  #content {
    display: none;
  }
  
  @media only screen and (max-width: 700px) {
    .sub-accordion-item img {
      width: 1.5rem;
      padding-inline: 11px;
      margin-bottom: -5px;
    }
    .sub-accordion .sub-accordion-content {
      padding: 24px;
    }
    .course {
      margin-top: -2rem;
    }
    .sub-accordion {
      margin-top: 10px;
      margin-left: 2rem;
    }
    .fas {
      margin-top: -1.5rem;
    }
  
    /* i.fas.fa-angle-right {
      margin-left: 18rem;
    } */
    .sub-accordion-header {
      width: 19rem;
      padding: 15px;
    }
  
    .accordion .accordion-header {
      padding: 15px;
      margin-left: 1rem;
    }
    .dashboard-container {
      grid-template-columns: 1fr;
      margin-left: 1rem;
    }
    .header {
      padding: 10px;
    }
    .attach {
      /* position: absolute; */
      /* margin-top: 30rem; */
    }
    #button6 {
      display: contents;
    }
    .discription {
      margin-top: -9rem;
    }
    .accordion-item {
      border: 0px solid #a19f9f;
      margin-bottom: 10px;
    }
    /* .accordion {
      margin-left: 1rem;
    } */
    .accordion-header {
      text-align: center;
      margin-left: -2rem;
      padding: 10px;
      width: 20rem;
    }
    .sub-accordion-header {
      /* color: #00215b;
      background-color: #f9f9f9;
     
      cursor: pointer;
      padding: 10px;
      margin-left: 2rem;
      width: 15rem; */
    }
    h2 {
      text-align: center;
      margin-left: -3rem;
      padding: 2rem;
    }
    video {
      width: 100px;
  
      height: 250px;
    }
    .qna-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    .course-overview {
      margin-top: -7rem;
    }
    .course-list {
      margin: 3px 0;
    }
    .headerone {
    }
    .course {
      border: none;
      margin-left: -0.5rem;
      padding: 10px;
    }
    .video {
      width: 100%;
    }
    .course h2 {
      margin-top: -7rem;
      margin-left: -1rem;
      text-align: left;
      font-size: 29px;
    }
    /* .course {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      margin-left: 4rem;
      padding: 22px;
      margin-top: 3rem;
    } */
  }
  /* ==============================================choosefile============================== */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    /* max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    max-width: 600px;
  
    margin: auto auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 7rem;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  .upload-btn {
    /* padding: 10px 20px; */
    background-color: #079a85;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .Upload__btns {
    background-color: #079a85;
    color: white;
  }
  .upload-btn p {
    font-size: 17px;
  }
  button:hover {
    /* background-color: #079a85; */
  }
  /* ==========================================================description new============= */
  .filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 139px;
    margin-left: 0rem;
    gap: 21px;
  }
  /* .filter-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  } */
  
  .filter-button.active {
    /* background-color: #007bff; */
    color: black;
  }
  .p {
    font-family: Arial, sans-serif;
  }
  .items {
    display: flex;
    /* justify-content: center; */
    margin-top: 13px;
  }
  
  .item {
    display: none;
    padding: 20px;
    /* border: 1px solid #ccc; */
  }
  
  .item.active {
    display: block;
  }
  /* ================================================================description=============== */
  
  /* .description {
    margin-left: 25rem;
    margin-top: -4rem;
  } */
  #filterInput {
    display: none;
  }
  
  /* #filterButtons {
    display: flex;
    gap: 10px;
  } */
  
  button {
    color: #00215b;
    font-family: "Kanit", sans-serif;
    padding: 8px 12px;
  
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  button.active {
    color: #141414;
    border-bottom: 1px solid black;
  }
  
  /* ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 5px;
    border-bottom: 1px solid #f3e4e4;
  } */
  /* .fa-angle-right:before {
    content: "\f105";
    font-size: 2rem;
  } */
  li:last-child {
    border-bottom: none;
  }
  #filterlist ul {
    color: none;
  }
  #span {
    font-size: 18px;
    color: #00215b;
  }
  @media only screen and (max-width: 700px) {
    .sub-accordion-header {
      padding: 16px;
    }
    textarea#question-content {
      width: 22rem;
    }
    .filter-buttons {
      display: block;
      margin-top: 139px;
      margin-left: 0rem;
    }
    .qna-form {
      /* border: 1px solid #ccc; */
      padding: 10px;
      margin-bottom: 10px;
      margin-left: -4rem;
    }
    .qna-form input,
    .qna-form textarea {
      margin-left: 1rem;
    }
    .main-body {
      margin: -8px;
    }
    #question-title {
      width: 22rem;
    }
    #question-content {
      width: 22rem;
    }
    #filterInput {
      width: 34%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .container {
      margin-top: -4rem;
      margin-left: 0rem;
      overflow: hidden;
      width: 19rem;
    }
    .main__section {
      grid-template-columns: 100%;
    }
  
    .dropdown-menu {
      margin-left: -1rem;
    }
  }
  @media only screen and (max-width: 700px) {
    #pdf-list ul {
      width: 21rem;
    }
    .attach {
      margin-left: 1rem;
    }
    .dropdown .dropdown-menu {
      margin-left: -1rem;
    }
    button#ask-button {
      width: 22rem;
      margin-left: 16px;
      background: #079a85;
      color: white;
    }
    #left {
      order: 2;
    }
  
    #right {
      order: 1;
    }
    button.filter-buttons {
      display: block;
      justify-content: center;
      margin-top: 10rem;
    }
    .filter-button {
      /* padding: 10px 20px; */
      background-color: #f0f0f0;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
  /* ================================================================================================= */
  body {
    /* font-family: Arial, sans-serif;
    margin: 20px; */
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label,
  input,
  select,
  textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    margin-top: 20px;
  }
  /* ==============================link line none======================================== */
  textarea {
    resize: vertical;
  }
  li {
    padding: 5px;
    border-bottom: none;
  }
  
  /* =======================================new accordion===========================================
   /* Add styles to format the accordion container */
  
  /* Styles for the accordion */
  .accordion {
    width: 100%;
  }
  .sub-accordion-item img {
    width: 1.5rem;
    padding-inline: 11px;
  }
  .accordion-item {
    border: 0px solid #ccc;
    margin-bottom: 10px;
  }
  .fab {
    background-color: transparent;
  }
  
  /* .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  } */
  
  .accordion-header i {
    /* margin-right: -81rem; */
  }
  
  .accordion-content {
    padding: 10px;
    display: none;
  }
  /* .fas {
    margin-left: 18.6rem;
    margin-top: -22px;
  } */
  i.fas.fa-angle-right {
    margin-top: 7px;
  }
  .accordion-header img {
    width: 1.5rem;
    padding-inline: 9px;
    margin-bottom: -0.3rem;
  }
  .accordion-header img:hover {
    color: #079a85;
  }
  /* Styles for the sub-accordion */
  .sub-accordion {
    margin-top: 10px;
  }
  .sub-accordion-content a {
    list-style: none;
    display: block;
    color: #079a85;
    padding: 0;
    font-weight: bold;
  }
  .accordion-header:hover {
    background-color: #079a85;
    color: #f1f1f1;
  }
  .sub-accordion-header:hover {
    background-color: #079a85;
    color: #f1f1f1;
  }
  .accordion-header {
    display: grid;
    grid-template-columns: 14% 73% 14%;
    color: #00215b;
    background-color: #f1f1f1;
    font-size: 20px;
    text-align: left;
    margin-left: -14px;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    font-family: "Kanit", sans-serif;
  }
  /* Style the sub-accordion headers */
  .sub-accordion-header {
    color: #00215b;
    background-color: #f9f9f9;
    /* color: #555; */
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    /* margin-left: -8px; */
  }
  .sub-accordion-item {
    /* border: 1px solid #ddd; */
    margin-bottom: 5px;
   
  }
  
  .sub-accordion-header {
    display: grid;
    grid-template-columns: 16% 73% 10%;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
  }
  
  .sub-accordion-header i {
    /* margin-right: -80rem; */
  }
  
  .sub-accordion-content {
    margin-left: 1rem;
    padding: 5px;
    display: none;
  }
  
  /* =============================================drop down icons======================== */
  
  .bx-cog {
    font-size: 28px;
  }
  .bx-user {
    font-size: 28px;
  }
  .bx-question-mark {
    font-size: 28px;
  }
  .dropdown-menu img {
    width: 12px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .dropdown-toggle {
    /* background-color: #f0f0f0; */
    color: #5c5a5a;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 35px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -4rem;
    margin-top: 1.5rem;
    width: 10rem;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  /* Show the dropdown when the toggle button is clicked */
  .dropdown.show .dropdown-menu {
    display: block;
  }
  #Attach h1 {
    text-align: left;
  }
  /* @media screen and (min-width: 1200px) {
    .main__section {
      display: none;
    }
  } */
  /* ===================================================disscution=======================
   */
  
  .qna-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -3rem;
  }
  #ask-button {
    border: 1px solid;
  }
  .qna-form {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .qna-form input,
  .qna-form textarea {
    display: block;
    width: 28rem;
    height: 3rem;
    margin-bottom: 10px;
  }
  .qna-form button {
    width: 28rem;
    background: #079a85;
    color: white;
  }
  li ::marker {
    color: red;
  }
  
  .qna-list {
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  #question-content {
    width: 28rem;
    height: 7rem;
  }
  .note-header {
    color: red;
  }
  .fas {
    margin-top: 1px;
  }
  /* ==================================================== */
  @media screen and (min-width: 1900px) {
    .fas {
      margin-top: 1px;
    }
    /* #Fas-icons-two {
      margin-left: 14.5rem;
    } */
    /* #Fas-icons {
      margin-left: 28.5rem;
    } */
    /* #Sub-video {
      margin-left: 22.3rem;
    }
    #Ref-icons {
      margin-left: 20rem;
    } */
    /* .video-list .vid h4 {
      margin-left: 22.7rem;
    }
    .vid input.Check-icons {
      margin-left: -13.5rem;
      position: absolute;
    }
    .sub-accordion .video-list {
      height: 388px;
      margin-left: 1rem;
    } */
    #Attach h1 {
      text-align: left;
      margin-left: 2.4rem;
    }
  }
  /*  ============Sub Video sub container==============*/
  .Video-sub-container {
  }
  /* ==================================================================== */
  .sub-accordion-content ul li{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: -2rem;
    background-color: white;
  }
  /* Add this to your existing stylesheet or create a new one */
   .submit {
    background-color: #079a85; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  .submit:hover {
    background-color: #079a85; /* Darker green on hover */
  }
  