

    {% if messages %}
    {% for message in messages %}
    <script>
      function showSuccessMessage() {
        Swal.fire({
          icon: "success",
          title: "{{message}}",
          text: "{{message}}",
          confirmButtonColor: "#079a85", // Bootstrap success color
          timer: 3000, // Auto-close the popup after 3000 milliseconds (3 seconds)
          showCloseButton: true, // Show close button
        });
      }

      showSuccessMessage()
    </script>

{% endfor %}
{% endif %}


