{% load static %}   
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}

  
<!-- Modal -->
<div style="z-index: 1000000;" class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div id="mobile" class="container">
          <h3>Log in </h3>
         
          <form class="signup" id="signup_form" method="post" action="{% url 'account_login' %}">
            {{login_form.errors}}
            {% csrf_token %}
             {{login_form|crispy}}
            <div class="error-message" id="error-message"></div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
    
            <button type="submit" class="btn form-control" style="background-color: #079a85;">Login</button>
          </form>
          <div class="forgot-password">
            <a href="{% url 'account_reset_password' %}">Forgot Password? </a>
          </div>


          <div class="forgot-password">
            <a href="{% url 'account_signup' %}">Don't have an account ?</a>
          </div>
        </div>
  
      </div>
      <div class="modal-footer" style="display:flex;flex-direction:column;width:100%;">
        {% get_providers as socialaccount_providers %}

        {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
          <li>
            <div id="fa" class="fa fa-{{provider.name|lower}}" style="margin-left:10px;"></div>
            <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" id="fa"
               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"> Continue with {{provider.name}}</a>
          </li>
          </ul>
          {% endfor %}
          {% endif %}

          <li>
        <div id="fa" class="fa fa-{{provider.name|lower}} fa-5x form-control" style="display:flex;width:450px;">
              <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" id="fa" style="margin-left: 50px;"
              href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"> Continue with {{provider.name}}</a>
          
        </div>
      </li>
 
          {% endfor %}
      
       
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div style="z-index: 1000000;" class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h1>{% trans "Sign Out" %}</h1> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
 

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
  
          <div class="modal-footer" >
            <button type="button" style="background-color:rgb(211, 138, 138);" class="btn btn-danger" id="closebtn" data-bs-dismiss="modal">Close</button>
            <div class="modal"><!-- Place at bottom of page --></div>
            <button type="submit" style="background-color:rgb(58, 76, 58);" class="btn btn-primary" onclick="addAssiagment()">{% trans 'Sign Out' %}</button>
          </div>
        </form>
      </div>
 
    </div>
  </div>
</div>


<!-- =========================================Navgation================================= -->
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <img class="menu-logo" src="{% static 'logo.png' %}" alt="" />
    </div>
    <div class="navbar-hamburger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-menu">
      <ul class="Menu-container">
        <li>
          <a id="Links" class="Links" href="{% url 'landing' %}">Home</a>
        </li>
        <li><a class="Links" href="#">About</a></li>
        <div class="dropdowns dropdown-3">
          <li class="parents">
            <a class="Linkss" href="#"
              >Catgories <span> <i class="fa fa-caret-down"></i></span>
            </a>
           
              <ul class="dropdown dropdown-2">
                    {% for cat in categories %}
                
                      <li class="parent" >
                        <a href="#"
                        id="parent-category"
                          >{{cat.category}}<span><i class="fa fa-caret-right"></i></span
                        ></a>

                        <ul class="childs" class="subcategory">
                          {% for course in cat.courses.all %}
                       
                      
                          <li><a id="Sub-lniks" href="{% url 'courses:course_detail' course.slug %}">{{course}}</a></li>
                          
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
            </ul>

          </li>
        </div>
        <div class="All__Btn">

          {% if not request.user.is_authenticated %}

          <li>
            <div class="Sign" style="display: flex;justify-content: center;align-items: center;" data-bs-toggle="modal" data-bs-target="#logoutModal">
            
              {% if request.path == '/accounts/login/' %}
              <a   href="{%url 'account_signup'%}" ><h6>Sign up</h6></a>

              {% else %}
            
              <div class="Sign" style="display: flex;justify-content: center;align-items: center;" data-bs-toggle="modal" data-bs-target="#loginmodal">
                <h6 style="margin: 0;color:white;">Login</h6>
              </div>
        
              {% endif %}
            </div>
          </li>

          {% else %}
          <li>
            <div class="Sign" style="display: flex;justify-content: center;align-items: center;" data-bs-toggle="modal" data-bs-target="#logoutModal">
              <h6 style="margin: 0;color:white;">Logout</h6>
            </div>
          </li>

          {%if request.user.is_authenticated %}
          <li>

            <div class="Sign">
              <a href="{%url 'students:student_update_profile' request.user.profile.pk %}" ><h6>Profile</h6></a>
              
            </div>
          </li>
          {% endif %}
          {% endif %}
        </div>
      </ul>
    </div>
  </nav>
</header>




<script>
 
let parent = document.getElementsByClassName("parent")
console.log("parent ",parent);

for(let p of parent) {
  p. addEventListener("mouseover",function(e) {
    const subcategory = document.getElementsByClassName("subcategory")
  
    
  })
}

</script>

