.Contacts__Lnading {
  background-color: rgba(249, 249, 249, 1);
}
.Contacts__Lnading__container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  grid-auto-rows: minmax(100px auto);
}
.Contacts__Lnading h1 {
  text-align: center;
  padding-top: 6rem;
  color: #181818;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.5%;
}
.Contacts__Lnading h1 span {
  color: #079a85;
}
.Contacts__Lnading h3 {
  font-size: 22px;
  line-height: 31px;
  color: #000;
  font-family: Lato;
  font-weight: 500;
}
.Contacts__Lnading button {
  margin-top: 2rem;

  width: 11rem;
  border-radius: 10px;
  height: 59px;
  border-color: none;
  border: none;
  background-color: #079a85;
}
.Contacts__Lnading button a {
  text-decoration: none;
  color: #fff;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: -0.6rem;
}
.Contacts__Lnading__container .first {
  margin-bottom: 5rem;
}
/* Text */
.Start-text h1 {
  margin-top: 3rem;
  color: #181818;
  font-family: "Kanit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.5%;
  text-align: center;
}
.Start-text h2 {
  text-align: center;
  color: #000;
  font-size: 20px;
  line-height: 31px;
  font-family: Lato;
  font-weight: 500;
}
@media only screen and (max-width: 700px) {
  .Contacts__Lnading__container {
    grid-template-columns: 100%;
  }
  .Contacts__Lnading h3 {
    padding: 2rem;
    margin-top: -9rem;
  }
  .Contacts__Lnading button {
    margin-top: 1rem;
    margin-bottom: 9rem;
    margin-left: 27px;
  }
}
