.hero {
  background-color: #fff;
  height: 110vh;
  width: 100%;
  position: relative;
}
.hero h1 {
  text-align: center;
  padding-top: 80px;
  color: #181818;
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.5%;
}
.hero h1 span {
  color: #079a85;
}
.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}
.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
  padding-top: 2rem;
}
/* .slide-row img {
  width: 50%;
} */
.user-img {
  position: absolute;
  top: 0;
  right: -140px;
  height: 100%;
  left: 30rem;
}
.user-img img {
  height: 100%;
  border-radius: 10px;
  width: 70%;
}
.user-text {
  background: #2d3a59;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #ded4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}
.user-text p {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: Lato;
  font-weight: 500;
}
.user-text h3 {
  margin: 35px 0 5px;
  color: white;
}
.container__test {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
.btns {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  /* background: rgb(141, 138, 138); */
  background: #079a85;
  cursor: pointer;
}
.indicator .active {
  width: 45px;
  background-color: #079a85;
}
.testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  /* .user-img img {
    height: 51%;
    border-radius: 10px;
    width: 49%;
    margin-left: -16rem;
  } */
  .container__test {
    margin-top: 6rem;
  }
  .user-text {
    background: #2d3a59;
    width: 334px;
    height: 368px;
    position: absolute;
    left: 205px;
    top: 59%;
  }

  .container__test {
    width: 582px;
    margin-left: -5rem;
    margin-right: -139rem;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-img {
    position: absolute;
    top: 0;
    right: 15rem;
    height: 85%;
    left: 14rem;
  }
  .user-img img {
    height: 25%;
    border-radius: 130px;
    width: 26%;
    margin-top: 0rem;
    margin-left: 8rem;
  }
  .user-text p {
    font-size: 16px;
    line-height: 22px;
    color: white;
    font-family: Lato;
    font-weight: 500;
  }
  /* .user-text {
    background: #2d3a59;
    width: 388px;
    height: 344px;
    position: absolute;
    left: 205px;
    top: 49%;
  } */
  /* .user-text {
    background: #2d3a59;
    width: 356px;
    height: 671px;
    position: absolute;
    left: 14rem;
    top: 77%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #ded4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
  } */
}
