{% extends "_base.html" %}

{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
<div class="discussion-forum">
  <h1 class="text-xl font-bold mb-4">Discussion Forum</h1>
 
 
    <ul class="list-reset">
      <li class="mb-4">
        <h2 class="text-base font-semibold">Course Discussion</h2>
        <ul class="list-reset">
          <li class="mb-2">
            <a href="#" class="text-gray-600 hover:text-gray-900">
              <div id="chat">
              </div>
            </a>
          
          </li>
          
        </ul>
      </li>

      {%for chat in chats%}

  

      <li class="mb-4">
        <h2 class="text-base font-semibold">Your Discussions</h2>
        <ul class="list-reset">
          <li class="mb-2">
            <a href="#" class="text-gray-600 hover:text-gray-900">
              <strong>Your Topic 1</strong>
              <span class="text-gray-400">{{chat.created_at}} </span>
            </a>
            <p class="mt-2 text-gray-500">
             {{chat.message}}
            </p>
          </li>
        </ul>
      </li>
      <li>

      {%endfor%}


        <div id="chat-input">
          <input id="chat-message-input" type="text" class="w-full bg-gray-100 border-gray-200 rounded-md py-2 px-4 text-gray-700 focus:bg-gray-200 focus:border-gray-300 mb-6">
          <input id="chat-message-submit" type="submit" value="Create New Discussion"  class="w-full bg-gray-600 text-white rounded-md py-2 px-4">
        </div>


      
      </li>
    </ul>
  </div>
{% endblock %}

{% block include_js %}
  {{ course.id|json_script:"course-id" }}
  {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
  const courseId = JSON.parse(
    document.getElementById('course-id').textContent
  );
  const requestUser = JSON.parse(
    document.getElementById('request-user').textContent
  );
  const url = 'ws://' + window.location.host +
              '/ws/chat/room/' + courseId + '/';
  const chatSocket = new WebSocket(url);

  chatSocket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chat = document.getElementById('chat');

    const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
    const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
    const isMe = data.user === requestUser;
    const source = isMe ? 'me' : 'other';
    const name = isMe ? 'Me' : data.user;

    chat.innerHTML += '<div class="message ' + source + '">' +
                      '<strong>' + name + '</strong> ' +
                      '<span class="date">' + datetime + '</span><br>' +
                      data.message + '</div>';
    chat.scrollTop = chat.scrollHeight;
  };

  chatSocket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
  };

  const input = document.getElementById('chat-message-input');
  const submitButton = document.getElementById('chat-message-submit');

  submitButton.addEventListener('click', function(event) {
    const message = input.value;
    if(message) {
      // send message in JSON format
      chatSocket.send(JSON.stringify({'message': message}));
      // clear input
      input.value = '';
      input.focus();
    }
  });

  input.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      // cancel the default action, if needed
      event.preventDefault();
      // trigger click event on button
      submitButton.click();
    }
  });

  input.focus();
{% endblock %}
