.note-container {
  background-color: transparent;
  width: 39rem;
}
.form-control {
  width: 36rem;
  height: 12rem;
}
.note-container button {
  background-color: #079a85;
  color: white;
  font-family: "Kanit", sans-serif;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 9rem;
  height: 3rem;
  border-radius: 11px;
}
.note-container button:hover {
  background-color: #00215b;
}
.note-container h1 {
  color: #00215b;
  font-family: "Kanit", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.5%;
  text-align: left;
}
.note-container h5 {
  color: #00215b;
  font-size: 20px;
  text-align: left;
}
/*  */
@media only screen and (max-width: 700px) {
  .note-container {
    background-color: transparent;
    width: 21rem;
  }
  .form-control {
    width: 21rem;
    height: 12rem;
  }
}
