.childss {
  display: none;
}
.parents:hover .childss {
  display: block;
}
.dropdowns {
  display: inline-block;
  margin: 10px;
}
.parents {
  display: block;
}
.parents > a {
  display: block;
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 7px 30px;
}
.dropdowns .parents a span {
  display: inline-block;
  transition: 0.4s;
  font-size: 14px;
}
/*for icon rotation*/
.fa-caret-down:before {
  content: "\f0d7";
  font-size: 21px;
}
.childss {
  background-color: #d3d3d3;
}
.childss li {
  display: block;
  border-bottom: 1px solid #f1f1f1;
}
.parents {
  margin-top: -9px;
}
.childss li a {
  display: block;
  box-sizing: border-box;
  padding: 7px 30px;
}

.dropdown-3 .childss {
  height: 0px;
  transition: 0.4s;
  overflow: hidden;
}
.dropdown-3 .parents:hover .childss {
  height: 100px;
  transition: 0.4s;
}
@media only screen and (max-width: 700px) {
  .dropdowns .parents:hover > a span {
    transform: rotate(-90deg);
  }
}
.Linkss {
  margin-left: -24px;
}
