<!-- templates/_base.html -->
{% load crispy_forms_tags %}

{% load compress %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LMS{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    {% include "includes/Navbar.html"%}
    <div class="mx-auto max-w-screen-xl w-full h-full">
        {% block content %}
        {% endblock content %}
    </div>
    
    <div style="position: relative;">
       

    </div>
    
    {% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/
html5sortable.min.js"></script>
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
        })
        </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</body>
</html>
