<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
    <div>
        <h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa sapiente aliquam labore molestias quisquam unde id quo et asperiores nemo, sit fugit tempore laboriosam, fuga rerum adipisci quia quos. Fuga.
        Tempore aut praesentium culpa architecto aliquam, veniam, laborum nihil laudantium, omnis porro reiciendis earum a ipsum saepe debitis suscipit consequuntur quaerat molestiae sapiente iste ea. Praesentium soluta consequuntur aut qui!
        Nemo et reprehenderit animi a assumenda veritatis qui ad vitae architecto quidem non eligendi odio quaerat vel, cum, optio blanditiis eveniet labore alias obcaecati repudiandae perferendis. Amet illo magnam beatae?
        Voluptatem maiores cum veniam eveniet illo aspernatur dolore nostrum ad delectus possimus similique nihil minima tempore eum, porro, facere nobis alias doloremque itaque vel atque et inventore repellendus eligendi. Excepturi.
        </h1>
    </div>
{% endblock content %}