{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block style %}

    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Course</title>

    <link rel="stylesheet" href="{% static 'instructor_module_add.css' %}" />
    <link rel="stylesheet" href="{% static 'instructor_module_add_main.css' %}" />


    <style>
      .hide {
        display: none;
      }

      .show {
        display: block;
      }

      .module-formset .field-label {
        display: none;
    }

    label {
       display: none;
    }
    </style>

    {% endblock %}
    <!-- new -->
 

  <body class="main-body" id="mainContainer">

    {% block content %}
 
   
    <script>
      // JavaScript to toggle the active class on hamburger click
      document.addEventListener("DOMContentLoaded", function () {
        var navbarHamburger = document.querySelector(".navbar-hamburger");
        var navbarMenu = document.querySelector(".navbar-menu");

        navbarHamburger.addEventListener("click", function () {
          navbarHamburger.classList.toggle("active");
          navbarMenu.classList.toggle("active");
        });

        document.addEventListener("click", function (event) {
          var targetElement = event.target;
          if (
            !targetElement.closest(".navbar") &&
            navbarHamburger.classList.contains("active")
          ) {
            navbarHamburger.classList.remove("active");
            navbarMenu.classList.remove("active");
          }
        });
      });
    </script>
    <!-- ===========================Main body================================= -->
    <!-- <button class="btn" onclick="openModulePopup()">Add Module</button> -->
  <div style="display:flex;">
    
    <a href="{% url 'courses:course_create' %}">
      <button class="form-control btn  btn-info" id="save-btns">
        <span>Back to couse </span>
      </button>
    </a>
      <button id="save-btns" class="btn" onclick="openModulePopup()">
        <span>Add Module</span>
      </button>
      
    </div>
    
    <div id="modulePopupBackdrop" onclick="closeModulePopup()"></div>
    <br />
  
    <div id="modulePopup">
      <span class="close-icon" onclick="closeModulePopup()">X</span>
     
      <form class="form" method="post" id="moduleAddForm" >
        {% csrf_token %}
        <div id="id_ingredient-TOTAL_FORMS">
        <div id='ingredient-form-list'>
            {%for form in formset %}
            {{ formset.management_form|crispy }}
                <div style="align-items: center;" class="ingredient-form"> 
                  
                    {{form|crispy}}
                    <br />
                
                </div>
              
            {%endfor%}
             
        </div>
          <div id='empty-form' class='hide'>{{formset.empty_form|crispy }}</div>
        

        <button class="btn" type="submit" onclick="saveModule({{course.id}})">Save</button>
        <button class="btn" type="button" onclick="closeModulePopup()">Cancel</button>
        <button class="btn" type="button" id="addMore" onclick="addChapter()">Add</button>
      
      </form>
    </div>
  </div>

    <table id="moduleTable">
      <tr>
        <th>Module Name</th>
        <th>Module Overview</th>
        <th>Actions</th>
        
      </tr>

        {%for module in course.modules.all%}
       
        <tr>
          <td>
              
            
              {{module.title|title}} 
             
        </td>
          <td>{{module.description|safe}}</td>
          <td>
            
            <button class="btn"  onclick="openModulePopup()">Edit</button>'

            <button class="btn" onclick="deleteModule(this,{{module.id}},{{course.id}})">Delete</button>
      
              {% if course.modules.count > 0 %}
              <a href="{% url "courses:module_content_list" course.modules.first.id %}">
                   <button class="btn">Manage content</button>
              </a>
              {% endif %}
           
          </td>
        
        </tr>
        {% endfor %}
      <!-- Table rows will be added dynamically using JavaScript -->
    </table>
      <br />
      <br />
      <br />
      <br />
      <br />

    <script>

  

      var editingRow = null; // To keep track of the row being edited


      function navigateCouse() {
        window.history.back()
      }

      function openModulePopup() {
        var modulePopupBackdrop = document.getElementById(
          "modulePopupBackdrop"
        );
        var modulePopup = document.getElementById("modulePopup");

        modulePopupBackdrop.classList.add("show");
        modulePopup.classList.add("show");
      }

     

      function closeModulePopup() {
        var modulePopupBackdrop = document.getElementById(
          "modulePopupBackdrop"
        );
   
        modulePopupBackdrop.classList.remove("hide");
        modulePopupBackdrop.classList.remove("show")
        modulePopup.classList.remove("show")

      }


      function addChapter() {
        var modulePopupBackdrop = document.getElementById(
          "modulePopupBackdrop"
        );
        const totalNewForms = document.getElementById('id_ingredient-TOTAL_FORMS')
        addMoreBtn = document.getElementById("addMore")
        addMoreBtn.addEventListener('click', add_new_form)
        function add_new_form(event) {
            if (event) {
                event.preventDefault()
            }
            const currentIngredientForms = document.getElementsByClassName('ingredient-form')
            const currentFormCount = currentIngredientForms.length // + 1
            const formCopyTarget = document.getElementById('ingredient-form-list')
            const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
            copyEmptyFormEl.setAttribute('class', 'ingredient-form')
            copyEmptyFormEl.setAttribute('id', `ingredient-${currentFormCount}`)
            const regex = new RegExp('__prefix__', 'g')
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
            totalNewForms.setAttribute('value', currentFormCount + 1)
            // now add new empty form element to our html form
            formCopyTarget.append(copyEmptyFormEl)
        }

      }
    

      function addForm() {
        $.ajax({
          url: '/filter-courses/',  // URL for the AJAX view
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          contentType: 'application/json',
          data: JSON.stringify(data),
    
          success: function (response) {

          },
          error: function (xhr, status, error) {
            // Handle any error that occurred during the AJAX request
            console.error(error);
          }
        });
      
      }

      // Close the popup when clicking outside of it
      window.onclick = function (event) {
        var modulePopup = document.getElementById("modulePopup");
        if (event.target == modulePopup) {
          closeModulePopup();
        }
      };

      function saveModule(id) {
    
    
       // const mainForm = document.getElementById("moduleAddForm");
     
         /** 
        mainForm.addEventListener("submit",function(event){
          event.preventDefault()
          //var formData = $(this).serialize();
          const formData = new FormData(mainForm);
      axios.put(`/course/${id}/module/`, formData, {
            
            headers: {
              'Content-Type': 'application/octet-stream',
              'X-CSRFToken': '{{ csrf_token }}'
            },
         
       
          })
          .then((response) => {
           // let data = response.data.response
            const mainContainer = document.getElementById("updateCourseModal");
            mainContainer.style.display = "none";
            
          })
          .catch((error) => {
            console.log("Error ",error);
          }) 
          
        })

        **/
    }


        var moduleName = document.getElementById("moduleName").value;
        var moduleOverview = document.getElementById("moduleOverview").value;

        if (moduleName && moduleOverview) {
          if (editingRow) {
            // Update the existing row
            editingRow.cells[0].innerHTML = moduleName;
            editingRow.cells[1].innerHTML = moduleOverview;
            editingRow = null; // Reset editingRow
          } else {
            // Add a new row
            var table = document.getElementById("moduleTable");
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);

            cell1.innerHTML = moduleName;
            cell2.innerHTML = moduleOverview;
            cell3.innerHTML =
            
              '<button class="btn" onclick="openModulePopup()">Edit</button>' +
              '<button class="btn" onclick="deleteModule(this)">Delete</button>';
          }

          closeModulePopup();




        } else {
          alert("Please enter both Module Name and Module Overview.");
        }
      

      function editModule(btn) {
        var row = btn.parentNode.parentNode;
        var moduleName = row.cells[0].innerHTML;
        var moduleOverview = row.cells[1].innerHTML;

        // Set the values without resetting
        document.getElementById("moduleName").value = moduleName;
        document.getElementById("moduleOverview").value = moduleOverview;

        editingRow = row; // Set the editingRow to the current row

        openModulePopup();
      }

      function deleteModule(btn,module_id,course_id) {

       const  data = {
          "module_id":module_id,
          "course_id":course_id
        }


      $.ajax({
          url: "{% url 'delete_module' %}",  // URL for the AJAX view
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          contentType: 'application/json',
          data: JSON.stringify(data),
    
          success: function (response) {
    
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
          },
          error: function (xhr, status, error) {
            // Handle any error that occurred during the AJAX request
            console.log("Error from backednd");
          }
        }); 
      }

    </script>
    <!--  -->

    <!--  -->
    <script>
      // JavaScript to toggle the active class on hamburger click
      document.addEventListener("DOMContentLoaded", function () {
        var navbarHamburger = document.querySelector(".navbar-hamburger");
        var navbarMenu = document.querySelector(".navbar-menu");

        navbarHamburger.addEventListener("click", function () {
          navbarHamburger.classList.toggle("active");
          navbarMenu.classList.toggle("active");
        });

        document.addEventListener("click", function (event) {
          var targetElement = event.target;
          if (
            !targetElement.closest(".navbar") &&
            navbarHamburger.classList.contains("active")
          ) {
            navbarHamburger.classList.remove("active");
            navbarMenu.classList.remove("active");
          }
        });
      });
    </script>
    <!-- Catgory dropdown -->
    <script>
      const newdropdowns = document.querySelectorAll(".newdropdown");
      newdropdowns.forEach((newdropdown) => {
        const select = newdropdown.querySelector(".select");
        const caret = newdropdown.querySelector(".caret");
        const menu = newdropdown.querySelector(".menu");
        const options = newdropdown.querySelector(".menu li");
        const selected = newdropdown.querySelector(".selected");

        select.addEventListener("click", () => {
          select.classList.toggle("select-clicked");
          caret.classList.toggle("caret-rotate");
          menu.classList.toggle("menu-open");
        });
        options.forEach((option) => {
          option.addEventListener("click", () => {
            selected.innerText = option.innerText;
            select.classList.remove("select-clicked");
            caret.classList.remove("caret-rotate");
            menu.classList.remove("menu-open");
            options.forEach((option) => {
              option.classList.remove("active");
            });
            option.classList.add("active");
          });
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


   
    {% endblock %}

